body {
    font-family: Arial, sans-serif;
    background-color: #FAFAD2;
    color: #333;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto; 
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item {
    margin-left: 20px;  
}

.navbar-nav .nav-link {
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #17a2b8;
}

.banner-box {
    width: 100%;
    padding: 20px;
    margin: 20px 0; 
}

.carousel-item img {
    height: 500px; 
    width: auto;  
    object-fit: cover;
}

.carousel {
    margin: 0;
    padding: 0;
}

.carousel-inner,
.carousel-item,
.carousel-item img {
    width: 100%;
}

.img-fluid {
    border-radius: 50%; 
}

.btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
    font-family:fantasy;
    margin-bottom: 20px;
}

section {
    padding: 50px 0;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.form-control {
    border-radius: 5px;
}

.footer {
    background: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
}

footer .social-icons {
    font-size: 1.5rem;
}

footer .social-icons span {
    margin-right: 15px;
    cursor: pointer;
    color: white;
}

footer .social-icons span:hover {
    color: #F5E050;
}

#feedbackCarousel {
    margin-top: 20px;
    margin-bottom: 40px;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-body img {
    width: 100% !important;
    height: auto;
    border-radius: 0;
}

.card {
    border: solid black;
    box-shadow: gray;
    border-radius: 10px;
    background-color: #FFD300;
}
.blockquote {
    font-style: italic;
    color: #555;
}

.blockquote-footer {
    text-align: right;
    font-weight: bold;
    color: solid black;
}

.carousel-item {
    transition: transform 0.5s ease;
}

.carousel-inner {
    width: 100%;  
    height: 400px; 
    overflow: hidden;  
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 50px;
    height: 50px;
}


